{{ define "main" }}
<div class="container" role="main" itemscope itemtype="http://schema.org/Article">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{if .Params.tags }}
            <div>
                <!-- <h5 id="wc" style="margin-top: -5px;">{{ .WordCount }} 字|阅读大约需要花 {{ .ReadingTime }} 分钟</h5> -->
                <h5 id="tags" style="margin-top: 30px;">{{ i18n "tag" }}
                  {{ range $index, $tag := .Params.tags }}
                      <a
                        href='{{ $.Site.LanguagePrefix | absURL | replaceRE "[^/]$" "${0}/" }}tags/{{ $tag | urlize }}/'>{{ $tag }}</a>
                      &nbsp;
                  {{ end }}
                </h5>
            </div>
            {{ end }}
              {{ if .IsTranslated -}}
            <div>
                <h5 style="margin-top: 10px;">{{ i18n "translationsLabel" }}
              {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
              {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
              {{- $cleanLinks := apply $links "chomp" "." -}}
              {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
              {{ $linksOutput }}
                </h5>
            </div>
              {{- end }}
            <article role="main" class="blog-post" itemprop="articleBody" id="content">
                {{ partial "toc.html" . }}
                {{ .Content }}
            </article>

            <ul class="pager blog-pager">
                {{ if .PrevInSection }}
                <li class="previous">
                    <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
                </li>
                {{ end }} {{ if .NextInSection }}
                <li class="next">
                    <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
                </li>
                {{ end }}
            </ul>

          {{ if .Site.Params.reward }}
            {{ partial "reward.html" }}
          {{ end }}

          {{ if not (.Params.unrelated) }}
            {{ partial "related.html" . }}
          {{ end }}

          {{ if and (.Site.Params.gitcomment) }}
            {{ partial "gitalk.html" . }}
          {{ end }}
        </div>
    </div>
</div>
{{ end }}
