<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<aside id=comments>
    <div>
        <h2> Comments </h2>
    </div>
    <div id="container"></div>
    <link rel="stylesheet" href="https://imroc.io/static/gitment/default.css">
    <script src="https://imroc.io/static/gitment/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
			owner: '{{ .owner }}', //github account
			repo: '{{ .repo }}', // github repo
            oauth: {
				client_id: '{{ .client_id }}',
				client_secret: '{{ .client_secret }}',
            },
        })
        gitment.render('container')
    </script>
</aside>
</div>
