{{ define "main" }}
{{- $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <div class="posts-list">
          {{ range $paginator.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <span class="post-meta">
                {{ range .Params.tags }}
                  #<a
                    href='{{ $.Site.LanguagePrefix | absURL | replaceRE "[^/]$" "${0}/" }}tags/{{ . | urlize }}/'>{{ . }}</a>&nbsp;
                {{ end }}
                </span>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if $paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
        <div align="center" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ template "_internal/pagination.html" . }}
          {{ range $paginator.Pages }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-4 col-md-2">
        <div class="sidebar-wrap sidebar-about">
          <div class="about-img">
            <img src="/img/avatar.jpg" alt="roc" class="rounded-circle">
          </div>
          <p class="about-text">
            {{ i18n "introduce" }}
          </p>
          {{ if eq .Language.Lang "zh" }}
          <img src="https://res.cloudinary.com/imroc/image/upload/v1578973640/geek_daily_qrcode.jpg" alt="极客日常">
          <p class="about-text">
            扫码关注 "极客日常" 公众号可接收文章推送。
          </p>
          {{ end }}
        </div>
        <!-- 标签 -->
        <div class="sidebar-block">
          <h4 class="sidebar-title">标签</h4>
          <div class="list-unstyled tags-cloud">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt $taxonomy.Count 0 }}
            <a href="/tags/{{ $name | urlize }}"><i class="fa fa-tags"></i> {{ $name }}({{ $taxonomy.Count }})</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

